body{
  background: linear-gradient(135deg, #1B8AF1, #B58DED);
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* Editing the signing and signup page */
h4{
  font-family: 'Segoe UI', bold;
  font-size: 35px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

form{
  display: inline-block;
  align-items: center;
  height: 270px;
  width: 350px;
  margin-bottom: 170px;
}
.text_area{
  align-content: center;
  border-radius: 22px;
  margin-bottom: 35px;
  width: 100%;
  height: 64px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input{
  margin-top: 1.2rem;
  font-family: 'Montserrat regular';
  font-size: 20px;
  border: 1px solid transparent;
  outline: none;
  width: 80%;
}

.text_input:focus{
  border: 1px solid transparent;
  outline: none;
}

.btn{
  margin-top: 28px;
  width: 125px;
  height: 40px;
  border-radius: 30px;
  background: #B58DED;
  border: none;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
  cursor: pointer;
}

.login{
  display: inline-block;
  background: #FFFFFF;
  width: 434px;
  height: auto;
  margin-top: 1%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
  color: #0E4579;
  font-family: 'Montserrat light';
  font-size: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.signup{
  display: inline-block;
  background: #FFFFFF;
  width: 434px;
  height: auto;
  margin-top: 1%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End of Editing the signing and signup page */

/* Editing the home page */
.home-container{
  height: 100vh;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0px;
  position: fixed;
}
/* End of Editing the home page */

/* Editing the Sidebar */
.sidebar-container{
  background: linear-gradient(135deg, #1B8AF1, #B58DED);
  width: 15%;
  height: 100%;
  position: fixed;
  text-align: left;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.sidebar-item{
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-left: 20px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.sidebar-itemP{
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.sidebar-text{
  text-decoration: none;
}

.sidebar-container h3{
  font-family: 'Montserrat', bold;
  font-size: 20px;
}

.sidebar-container h4{
  font-family: 'Montserrat', bold;
  font-size: 17px;
}

.sidebar-icon{
  margin-right: 10px;
  font-size: 25px;
}

.sidebar-item:last-child {
  margin-top: auto;
  margin-bottom: 10px;
}
/*End of editing the sidebar content*/

/* Editing the banner content */
.banner-container{
  margin-left: 17.5%;
  width: 80%;
  height: 40vh;
  margin-top: 10px;
  border-radius: 20px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}
/* End of editing the banner content */