body{
  background: linear-gradient(135deg, #1B8AF1, #B58DED);
  height: 100vh;
  width: 100%;
  text-align: center;
}

/* Editing the signing and signup page */
h4{
  font-family: 'Segoe UI', bold;
  font-size: 35px;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

.login-form .signup-form{
  display: inline-block;
  align-items: center;
  height: 270px;
  width: 350px;
  margin-bottom: 170px;
}
.text_area{
  align-content: center;
  border-radius: 22px;
  margin-bottom: 35px;
  width: 100%;
  height: 64px;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
}

.text_input{
  margin-top: 1.2rem;
  font-family: 'Montserrat regular';
  font-size: 20px;
  border: 1px solid transparent;
  outline: none;
  width: 80%;
}

.text_input:focus{
  border: 1px solid transparent;
  outline: none;
}

.btn{
  margin-top: 28px;
  width: 125px;
  height: 40px;
  border-radius: 30px;
  background: #B58DED;
  border: none;
  font-family: 'Montserrat';
  font-size: 20px;
  color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(181, 141, 237, 0.7), 0 6px 20px 0 rgba(181, 141, 237, 0.9);
  cursor: pointer;
}

.login{
  display: inline-block;
  background: #FFFFFF;
  width: 434px;
  height: auto;
  margin-top: 1%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.link{
  color: #0E4579;
  font-family: 'Montserrat light';
  font-size: 18px;
  cursor: pointer;
  display: block;
  text-decoration: none;
}
.signup{
  display: inline-block;
  background: #FFFFFF;
  width: 434px;
  height: auto;
  margin-top: 1%;
  border-radius: 22px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
/* End of Editing the signing and signup page */

/* Editing the home page */
.home-container{
  height: auto;
  width: 100%;
  background-color: #FFFFFF;
  margin: 0px;
  padding: 0px;
  border: 0px;
  
}
/* End of Editing the home page */

/* Editing the Sidebar */
.sidebar-container{
  background: linear-gradient(135deg, #1B8AF1, #B58DED);
  width: 15%;
  height: 100%;
  position: fixed;
  text-align: left;
  color: #FFFFFF;
  display: flex;
  flex-direction: column;
}

.sidebar-item{
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-left: 20px;
  color: #FFFFFF;
  cursor: pointer;
  text-decoration: none;
}
.sidebar-itemP{
  font-family: 'Montserrat';
  margin-top: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.sidebar-text{
  text-decoration: none;
}

.sidebar-container h3{
  font-family: 'Montserrat', bold;
  font-size: 20px;
}

.sidebar-container h4{
  font-family: 'Montserrat', bold;
  font-size: 17px;
}

.sidebar-icon{
  margin-right: 10px;
  font-size: 25px;
}

.sidebar-item:last-child {
  margin-top: auto;
  margin-bottom: 10px;
}
/*End of editing the sidebar content*/

/* Editing the banner content */
.banner-container{
  margin-left: 17.5%;
  width: 80%;
  height: 40vh;
  border-radius: 20px;
  overflow: hidden;
}

.banner-image {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover; /* Ensures the image covers the container without distortion */
}
/* End of editing the banner content */

/* Editing the dynamic content */
.dynamic-container{
  margin-left: 17.5%;
  width: 80%;
  height: auto;
  margin-top: 10px;
  min-height: 100vh;
  position: relative;
}
/*End of editing the dynamic content*/

/* Editing manage users page */
.manage-users-container{

}
.users-list li{
  list-style-type: none;
  margin-top: 10px;
  padding: 10px;
}
.manage-users-container hr{
  border: 0;
  height: 2px;
  background-color: black;
}

.search-input{
  /* width: 100%;
  height: 40px;
  border-radius: 30px;*/
  border: 1px solid transparent;
  outline: none;
  margin: 10px;
  padding: 10px;
  text-align: center;
}
.search-input:focus{
  border-bottom: 1px solid black;
  animation-timing-function: ease-in-out;
  animation: shake 0.5s;
  animation-duration: 0.5s;
}

table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 0px solid #ddd;
  padding: 8px;
}
th {
  background-color: #f2f2f2;
  text-align: left;
}
tr{
  text-align: left;
}
tr:nth-child(even) {
  background-color: #f9f9f9;
}
tr:hover {
  background-color: #ddd;
}
/*end of editing manage users page*/

/* Editing mage users page for editing individual data */

.admin-image{
  width: 50%;
  height: 100%;
  float: left;
}

.admin-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.Admin-form{
  width: 50%;
  float: right;
  height: 100%;
}

.user-details-form{
  text-align: left;
  align-items: left;
  height: 270px;
  width: 350px;
  margin-bottom: 170px;
  display: flex;
  flex-direction: column;
}

.admin-input{
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}

.user-details-form label p{
  margin-bottom: 0px;
  font-size: 18px;
}
.admin-btns{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.admin-btn{
  background: #900101;
  border: none;
  height: 40px;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}

.admin-btn1{
  background: green;
  border: none;
  height: 40px;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}

.admin-btn2{
  background: blue;
  border: none;
  height: 40px;
  width: 100px;
  margin: 10px;
  padding: 10px;
  text-align: center;
  color: #FFFFFF;
}

h5{
  cursor: pointer;
}
/* end of Editing mage users page for editing individual data */

/*Started editing the add books page*/
.add-book-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.book-row input {
  margin-right: 10px;
}

.add-book-form button[type="button"],
.add-book-form button[type="submit"] {
  margin-top: 10px;
  border: none;
  background-color: #1B8AF1;
  color: white;
  width: 95px;
  height: 40px;
}
.add-book-form button[type="submit"]:hover, .add-book-form button[type="button"]:hover{
  background-color: white;
  color: #1B8AF1;
  transition: ease-in-out;
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
}

.add-book-input{
  border: none;
  outline: none;
  font-size: 15px;
  border-bottom: 1px solid #000;
  margin-top: 10px;
}
/*End of editing the add books page*/
